<%# encoding: utf-8 %>
<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <div class="idea_content">
      <div class="title"><%= f.label :content %>限制30字内</div>
      <div style="display: none;" node-type="num" class="num">
        请文明发言，还可以输入<span>400</span>字
      </div>
      <div><%= f.text_area :content, :cols => 60, :rows => 6 %></div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit '创建点子'%>
  </div>
<% end %>

