<%# encoding: utf-8 %>
<div class="content">
  <% if @scope == 'mine' %>
    <%= render 'form' %>
  <% end %>
</div>

<% @ideas.each do |idea| %>
<div class="content">
  <div class="inner">
    <p class="first">
      <div class='right'><%= time_ago_in_words(idea.created_at) %>前</div>
      <%= image_tag("/images/icons/#{idea.user_id % 67}.png") %>
      <b><%= idea.title %>:</b><br />
      <%= idea.content %>
    </p>

    <div class="right">
      <% if @scope == 'mine' %>
        <% scores = [0,0,0,0] %>
        <% idea.likes.each{ |like| scores[like.score] += 1 } %>
        目前评价： <%= "牛 #{scores[3]}" %> | <%= "还不错 #{scores[2]}" %> | <%= "没意思 #{scores[1]}" %> | <%= "不喜欢 #{scores[0]}" %>
        <%= link_to '删除点子', idea, :confirm => '尽量不要删除，评分都将失效，确认删除？', :method => :delete, :class => 'small-button' %>
      <% elsif @scope == 'unliked' %>
        <%= link_to '牛', likes_path(:idea_id => idea.id, :score => 3), :class => 'small-button' %>
        <%= link_to '还不错', likes_path(:idea_id => idea.id, :score => 2), :class => 'small-button' %>
        <%= link_to '没意思', likes_path(:idea_id => idea.id, :score => 1), :class => 'small-button' %>
        <%= link_to '不喜欢', likes_path(:idea_id => idea.id, :score => 0), :class => 'small-button' %>
      <% else %>
        <% score = Like.find(:first, :conditions => "user_id = #{current_user.id} and idea_id = #{idea.id}").score %>
        <% scores = ['不喜欢','没意思','还不错','牛'] %>
        这个点子<%= scores[score] %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
