<%# encoding: utf-8 %>


<% if @scope == 'mine' %>
  <%= render 'form' %>
<% else %>
  <div class="update-notice">
    <%= "没有新鲜点子啦。" if @ideas.empty? %>
  </div>
<% end %>

<div class="inner">
  <ul id="myideas" class="list">
    <!-- unlied ideas -->
    <% if @scope != 'mine' and not @ideas.empty? %>
      <li><%= "还有#{@ideas.count}个待评点子。"  %></li>
    <% end %>

    <% @ideas.each do |idea| %>
      <%= render :partial => "my_ideas", :locals => { :idea => idea } %>
    <% end %>

    <!-- liked ideas -->
    <% if @scope == 'liked' and not @liked_ideas.empty? %>
    <li>已评价点子：</li>

    <% @liked_ideas.each do |idea| %>
    <li>
      <div class='left'>
        <%= image_tag("/images/icons/#{idea.user_id % 67}.png") %>
      </div>
      <div class='item'>
        <b><%= idea.title %></b>
        <p><%= (idea.content).html_safe %></p>
        <div class='right small'>
          <% my_like = current_user.likes.find_by_idea_id(:first, idea.id) %>
          <% if my_like != nil %>
            <% score = my_like.score %>
            <% scores = ['不喜欢','没感觉','还不错','牛'] %>
            这个点子<%= scores[score] %>
          <% end %>
        </div>
        <div class='small'><%= time_ago_in_words(idea.created_at) %>前</div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
