<div class="content">
  <%= render 'form' %>
</div>

<% @ideas.each do |idea| %>
<div class="content">
  <div class="inner">
    <p class="first">
      <%= image_tag("/images/icons/#{idea.user_id % 67}.png") %> <%= idea.title %>
    </p>
    <hr />
    <p>
      <%= idea.content %>
    </p>
    <hr />

    <div class="right">
      <% if @scope == :mine %>
      <%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %>
      <% else %> 
      <%= link_to 'tread', likes_path, :method => :post %>
      <%= link_to 'like', likes_path, :method => :post %>
      <%= link_to 'surprise', likes_path, :method => :post %>
      <%= link_to 'soy', likes_path(:idea_id => idea.id, :score => -1), :method => :get %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
