<div class="content">
  <% if not @plan %>
    <h2>从此处上传你的计划书</h2>

    <%= form_for(:plan, :url => plans_path) do |f| %>
      <div class="field">
        <%= f.label "主题" %><br />
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label "上传计划书: " %><br />
        <%= f.file_field :plan %>
      </div>
      <div class="actions">
        <%= f.submit "确认上传" %>
      </div>
    <% end %>

  <% else %>
    <h2>计划书</h2>
    <table>
      <tr>
        <th>主题</th>
        <th>当前计划书</th>
      </tr>

      <tr>
        <td><%= @plan.title %></td>
        <td><%= @plan.plan.url %></td>
      </tr>
    </table>

  <% end %>

</div>
