<%# encoding: utf-8 %>
<div class="content">
  <div>
    <h2>从此处上传你的计划书</h2>
    <div>
      <strong>
        一个用户只允许上传一份计划书，重复上传将会覆盖已经上传的计划书
      </strong>
    </div>

    <br>

    <%= form_for(:plan, :url => @plan_upload_path, :method => @plan_upload_method) do |f| %>
      <div class="field">
        <%= f.label "计划书主题:" %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label "上传计划书: " %>
        <%= f.file_field :plan %>
      </div>
      <button class='button' type='submit'>
        <%= image_tag "web-app-theme/icons/tick.png"%>上传
      </button>
    <% end %>
  </div>

  <br>
  <br>
  <br>
  <hr/>
  <br>
  <% if @plan %>
    <div>
      <h2>已上传的计划书</h2>
      <table class="myplan">
        <tr>
          <th class="title">主题</th>
          <th class="plan">当前计划书</th>
        </tr>

        <tr>
          <td class="title"><%= @plan.title %></td>
          <td class="plan"><%= @plan.plan.url.gsub(/.*\//, '') %></td>
        </tr>
      </table>
    </div>
  <% end %>

</div>
