<%# encoding: utf-8 %>

<div id="main">
  <div class="block" id="block-text">
    <div class="secondary-navigation">
      <ul class="wat-cf">
        <% @scopes.each do |s| %>
          <li <%= "class='active first'" if s.to_s == @scope %> ><%= link_to t(s), "#{ideas_path}?scope=#{s}", :remote => true %></li>
        <% end %>
      </ul>
    </div>

    <div class="content">
      <% if @scope == 'rule' or @scope == 'upload' %>
      <%= render @scope %>
      <% else %>
      <%= render 'idea_box' %>
      <% end %>
    </div>

    <% content_for :sidebar, render(:partial => 'sidebar') -%>

    <br />

  </div>
</div>

<% if not mobile_device? %>
<div id="sidebar">
  <%= yield :sidebar %>
</div>
<% end %>

<div class="backToTop" title="回到顶部" style="display: none;"></div>

<div class="advise" >
  <%= link_to "意见反馈", advises_path %>
</div>
