<div class="block" id="block-text">
          <div class="secondary-navigation">
            <ul class="wat-cf">
              <li class="active first"><a href="#block-text">Text</a></li>
              <li><a href="#block-tables">Tables</a></li>
              <li><a href="#block-forms">Forms</a></li>
              <li><a href="#block-messages">Messages</a></li>
              <li><a href="#block-forms-2">2 Columns Forms</a></li>
              <li><a href="#block-lists">Lists</a></li>
            </ul>
          </div>

<h1>Listing ideas</h1>
<%= render 'form' %>

<%= link_to 'ideas', ideas_path %>
<%= link_to 'mine', "#{ideas_path}?scope=mine" %>

<h2 class="title">Idea</h2>

<% @ideas.each do |idea| %>
  <div class="content">
    <div class="inner">
      <p class="first">
        <%= idea.user_id %> | 
        <%= idea.title %>
      </p>
      <hr />
      <p>
        <%= idea.content %>
      </p>
      <hr />
      <%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to 'tread', likes_path, :method => :post %>
      <%= link_to 'like', likes_path, :method => :post %>
      <%= link_to 'surprise', likes_path, :method => :post %>
      <%= link_to 'soy', likes_path(:idea_id => idea.id, :score => -1), :method => :get %>
    </div>
  </div>
<% end %>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

<br />

</div>
