<%# encoding: utf-8 %>
<div class='block' id='block-signup'>
  <h2>修改密码</h2>
  <div class='content'>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label '新密码' %> <i>（如果不想修改密码请不要填写）</i><br />
    <%= f.password_field :password %></div>

    <div><%= f.label '确认新密码' %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :current_password %>(系统默认密码是abc123) <br />
    <%= f.password_field :current_password %></div>

    <div><%= f.submit "修改" %></div>
    <% end %>

    <!--
        <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "取消", registration_path(resource_name), :confirm => "确定删除吗?", :method => :delete %>.</p>
    -->
    <%= link_to "进入主页", root_path %>
  </div>
</div>
