<%# encoding: utf-8 %>

<div class="inner">
  总用户数：<%= @user_info[:total] %><br />
  激活用户数：<%= @user_info[:confirmed] %><br />
  活跃用户数：<%= @user_info[:active] %><br />
  <ul class="list">
		<% ranklist = 0 %>
    <% @ideas.each do |idea| %>
    <li>
      <div class='left'>
				<% ranklist = ranklist + 1 %>
				<% @user = User.find(:first, :conditions => "id = #{idea.user_id}") %>
				<%= ranklist %> :
				<%= @user.email.gsub(/@redflag-linux.com/,'') %>
      </div>
      <div class='item'>
        <b><%= idea.title %></b>
        <p><%= idea.content %></p>
        <div class='right small'>
          目前评价： 得分(<%= idea.scores-idea.counts %>), 评价人数(<%= idea.counts %>)
        </div>
        <div class='small'><%= time_ago_in_words(idea.created_at) %>前</div>
      </div>
    </li>
    <% end %>
	</ul>
</div>

