<%# encoding: utf-8 %>
<%= form_for(@advise, :remote => true) do |f| %>
  <% if @advise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advise.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @advise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="advise_content">
    <%= f.text_area :content, :style => "width: 99%;", :rows => 6 %>
  </div>
  <button class='button' type='submit'>
    <%= image_tag "web-app-theme/icons/tick.png"%>提交
  </button>
  <p></p>
  <p></p>
<% end %>

