<p id="notice"><%= notice %></p>

<p>
  <% if @activity.user == current_user %>
    <%= link_to 'Edit', edit_activity_path(@activity) %>
  <% else %>
    <%= @activity.user.email %>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Describe:</b>
  <%= @activity.describe %>
</p>


