<%= @activity.name %>

<div class="block" id="block-text">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <% @scopes.each do |s| %>
      <li <%= "class='active first'" if s.to_s == @scope %> ><%= link_to t(s), "#{activity_path}?scope=#{s}", :remote => true %></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <% if @scope == 'rule' or @scope == 'upload' %>
    <%= render @scope %>
    <% else %>
    <%= render 'idea_box' %>
    <% end %>
  </div>
</div>
