<%# encoding: utf-8 %>
<div id="header">
<div class="wrapper">
  <h1><a href="/">Red iDea</a></h1>

  <div id="user-navigation">
    <ul class="wat-cf">
      <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><%= link_to "修改密码", edit_user_registration_path, :method => :get %></li>
      <li><%= link_to "退出", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <!--<li><%= link_to "注册", new_user_registration_path %></li>-->
      <li><%= link_to "登录", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="main-navigation">
    <ul class="wat-cf">
      <li class='active'><%= link_to "红点子大赛", ideas_path+'?scope=unliked' %></li>
      <li><%= link_to "2012年会", '/static/an2012' %></li>
    </ul>
  </div>
</div>
</div>
