<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Red iDea</title>
  <% if mobile_device? %>
    <%= stylesheet_link_tag 'application-mobile' %>
  <% else %>
    <%= stylesheet_link_tag 'application-desktop' %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://" + local_ip + ":9292/faye.js" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/idea.ico">
  <link rel="Bookmark" href="/images/idea.ico">
</head>
<body> 
  <div id="container">
    <%= render 'layouts/header' %>
    <div id="wrapper" class="wat-cf">

      <%= yield %>
    </div>

    <div id="footer">
      <div class="block">
        <p>Copyright &copy; <%= Time.now.year %> Red iDea.</p>
      </div>
    </div>

  </div>

  <% if current_user %>
  <div class="chat_room" style=" position:fixed; right:40px; bottom:0px;">
    <div class="message_box" style="position:absolute; right:80px; bottom:0px; display:none;" >
      <div class="split" style="position:absolute; background:#256FB7; height:5px;width:270px;top:0px;"></div>
      <div class="split" style="position:absolute; background:#256FB7; height:360px;width:5px;"></div>
      <div class="split" style="position:absolute; background:#256FB7; height:360px;width:5px;right:0px;"></div>
      <div class="message_list"style="position:absolute;">
        <dl id="chat">
          <%= render @messages %>
        </dl>
      </div>
      <div class="split" style="position:absolute; background:#DFDFDF; height:20px;width:260px;top:205px;left:5px;"></div>
      <div class="message_input">
        <%= render 'messages/form' %>
      </div>
    </div>

    <button class='message_button' style="position:absolute; bottom:0px; right:0px;">
      <%= image_tag "web-app-theme/icons/tick.png"%>聊天
    </button>
  </div>
  <% end %>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
