<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Red iDea</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/idea.ico">
  <link rel="Bookmark" href="/images/idea.ico">
</head>
<body onload="tabsManager.bindHandlers(); ideasController.init();"> 
  <div id="container">
    <%= render 'layouts/header' %>

<!--    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>

      <%= yield %>
    </div>

    <div id="footer">
      <div class="block">
        <p>Copyright &copy; <%= Time.now.year %> Red iDea.</p>
      </div>
    </div>

  </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
