<!DOCTYPE html>
<html>
<head>
  <title>Red Idea</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Red Idea</a></h1>
    </div>

    <div id="box">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>

      <%= yield %>
    </div>
  </div>
</body>
</html>
