<!DOCTYPE html>
<html>
<head>
  <title>Red Idea</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>
    </div>
  </div>
</body>
</html>
